.main-page-link{
    text-decoration: none;
    position: absolute;
    top: 2vw;
    left: 2vw;
    font-weight: 500;
    color: black;
    font-size: 1.5vw;
}
.page-name{
    font-size: 3.5vw;
    text-align: center;
    margin-top: 12vh;
}
.page-name-for-welc{
    font-size: 2vw;
    text-align: center;
    margin-top: 8vh;
    font-weight: 400;
}
.checkin-btn{
    position: absolute;
    right: 24vw;
    top: -2vw;
    width: 15vw;
    height: 4vw;
    margin-top: 3vw;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.create-idea-btn{
    position: absolute;
    right: 2vw;
    top: -2vw;
    width: 15vw;
    height: 4vw;
    margin-top: 3vw;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.5vw;
    display :flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
    padding: 0 2vw 0 2vw;
}
.dashboard-voting-container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.votings-container{
    margin-top: 4vw;
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.votings-container-for-welc{
    margin-top: 4vw;
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

  