.header-name-pTP{
    font-size: 4vw;
    text-align: center;
    justify-content: center;
    margin-top: 12vh;
}
.date-array{
    display: flex;
    flex-wrap: wrap;
    max-height: 20vw;
}


.MuiFormControl-root{
    width: 100%;
    margin: 1vw 0 1vw 1vw !important;
}