.checkin-page-PTT{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.checkin-PTT{
    width: 34vw;
    height: 14vw;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.391);
    border-radius: 30px;
    margin-top: 25vh;
    text-align: center;
    padding: 4vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display:flex;
    
}
.ta-PTT{
    width: 136px;
    height: 37px;
}
.checkin-input-PTT{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.checkin-header-PTT{
    font-size: 1.4vw;
    margin-bottom: 2vw;
}
.address-input-PTT{
    margin-top: 5vw;
    height: 2vw;
    width: 20vw;
    padding-left: 1vw;
    border-radius: 30px;
    border: 1px solid black;
}
.checkin-checkbox-PTT{
    margin-top: 5vw;
    margin-left: 3vw;
    height: 2vw;
    width: 2vw;
    border: 2px solid black;
}

.row-PTT{
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.label-PTT{
    padding-right: 30px;
    font-size: 1.5vw;

    font-family: 'Montserrat', sans-serif;

}


.connect-btn-PTT{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    border: none;
    width: 10vw;
    height: 2.5vw;
    border-radius: 15px;
    font-size: 1.5vw;
    font-weight: 900;
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 2vw 0 2vw
  }