*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.App {
    text-align: center;
  }
  .welcome-header{
    text-align: center;
    margin-top: 20vh;
    font-size: 5vw;
    font-weight: 900;
  }
  .connect {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .connect-btn{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    border: none;
    width: 20vw;
    height: 5vw;
    border-radius: 30px;
    font-size: 2.5vw;
    font-weight: 900;
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

 
  