.voting-row{
    width: 20vw;
    height: 14vw;
    border-radius: 30px;
    margin: 0vw 3vw 0vw 3vw;
    display: flex;
    padding: 1.5vw;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.377);
}
  
  .voting-about { grid-area: voting-about; }
  
  .voting-interact { grid-area: voting-interact; display: flex; align-items: center; flex-wrap:wrap}
.voting-name{
    margin-bottom: 1vw;
    font-size: 2vw;
}
.voting-description{
    font-size: 1vw;
}
.approve-voting-btn{
    width: 10vw;
    height: 2.5vw;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1vw;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content:center;
}
.votes-counter{
    margin-left: 4vw;
    font-size: 1.5vw;
}
.join-activity-btn{
    font-family: 'Montserrat', sans-serif;
    width: 10vw;
    height: 2.5vw;
    margin-left: 8vw;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1vw;
}

.time-Row{
    flex-direction: row;
}

.voting-box{
    width:100%;
    display:flex;
}
  